@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  border: none;
}
.navbar-dark .navbar-nav .nav-link:hover{
transition: 1s;
  color: crimson;
}
.navbar-dark .navbar-toggler-icon {
    border: none;
}
body {
  background: #191919;
  overflow-x: hidden;
}
.btn-block{
  margin-top: 10px;
}
.card {
  position: relative;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
  height: 230px;
  background: #000;
}
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

}
.card .image img {
  width: 135%;
  transition: 0.5s;
  height: 230px;
  object-fit: cover;
}
.card:hover .image img {
  opacity: 0.5;
  transform: translateX(30%); /*100%*/
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 60%;
  /*100%*/
  height: 100%;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 10px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
}
.card .details h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.card .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: 0.5s;
}
/* .col-6 .text-light p{
margin-bottom: 0;
} */
.card .details .center ul li a:hover {
  background: #ff3636;
}
.footer {
  background: #020202;
  color: ghostwhite;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
}
html {
  scroll-behavior: smooth;
}
h1{
  font-size: 2.8rem;

}
h5{
  font-size: 0.8rem;
}
 h2 .text-light {
  margin-bottom: 1rem;
}
.text-light p{
  margin-bottom: 0;
}
.icono {
  font-size: 40px;
}
.icono:hover {
  transform: scale(1.5) rotate(30deg);
  transition-duration: 400ms;
  -webkit-transform: scale(1.5) rotate(30deg);
  -moz-transform: scale(1.5) rotate(30deg);
  -ms-transform: scale(1.5) rotate(30deg);
  -o-transform: scale(1.5) rotate(30deg);
}
.image {
  width: 200%;
  height: auto;
  border-radius: 3px;
  transition-duration: 1s;
  transition-timing-function: linear;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.linkedin {
  width: 330px;
}
.navbar-expand-md.navbar-collapse {
  flex-basis: auto;
}
.oscuro{
  color: #4AC3F3;
}
.subrayar {
  text-decoration: underline;
}

